:root {
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #FFFFFF;

    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;
}

img {
    
    height: 60px;
    border: 1px solid #FFF;
}